# docs build
_build
.DS_Store
cover
.coverage
dist
*.swp
*.pyc
.ropeproject
build
*.egg-info
*.orig

# catags
tags

# java things
.project
.settings
.classpath
.checkstyle
target/

# temp file:
*~
.ipynb_checkpoints
